.container {
    max-width: 1140px;
    margin: 20px auto;
    padding: 0 30px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #888;
}

h1 span {
    color:#5b77f3;
}

.total {
    margin-top: 50px;
}