.notes-header{
    background: rgb(112, 112, 112);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
}

.notes-header-list {
    display: flex;
    width: 84%;
    margin-left: 50px;
    list-style: none;
    color: #fff;
}

.notes-header-list li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.7rem;
    width: 20%;
}

.notes-icons,
.card-icons {
    padding-right: 0.5rem;
    display: flex;
}

.notes-icons span {
    color: #fff;
}