.card {
    margin-top: 5px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #c4cefa;
    border-radius: 2px;
    box-shadow: 5px 5px 15px rgba(0,0,0, .15);
}

.card-editable {
    margin-left: 50px;
    width: 84%;
    display: flex;
    position: relative;
}

.card-editable span {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: -45px;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #504e4e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.card-list {
    width: 100%;
    display: flex;
    align-items: center;
}

.card-list li {
    /* white-space: nowrap; */
    overflow: hidden;
    width: 20%;
    padding: 0.7rem;
    text-overflow: ellipsis;
    list-style: none;
}

.card-list li:first-child {
    font-weight: bold;
}

.card-icons {
    padding-right: 0.5rem;
    display: flex;
}

.card-icons span {
    cursor: pointer;
}

.archive {
    text-decoration: line-through;
    color: #888;
}
.pointer {
    pointer-events: none;
}
/* ======================================= */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-size: 0.9rem;
    font-family: Verdana, sans-serif;
    visibility: hidden;
    width: 80px;
    background-color: rgb(230, 230, 230);
    color: #504e4e;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    bottom: 100%;
    left: 50%;
    margin-left: -40px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}